@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    padding: 0.75rem 0;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
/* Utility */
.text-primary{
    color: #93cb52;
}
.text-center{
    text-align: center;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.4rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.btn{
    color: #fff;
    display: inline-block;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.btn:hover{
    background: #7ab436;
}
.btn-dark{
    background: #333;
    color: #fff;
}
.bg-primary{
    background: #93cb52;
    color: #fff;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.list{
    list-style: none;
    margin: 0.5rem 0;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: 1px #444 dotted;
}
/* Navbar */
#navbar{
    position: sticky;
    justify-content: space-between;
    display: flex;
    top: 0;
    background: #333;
    z-index: 1;
    color: #fff;
    padding: 1rem;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/* Showcase */
#showcase{
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

}

/* Section What We Do */

#what .items{
    display: flex;
    padding:1rem;
}

#what .items .item{
    flex: 1;
    padding: 1rem;
    text-align: center;
}
#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}
/* Section; Who */

#who{
    display: flex;
    flex-direction: row;
}
#who div{
    flex: 1;
}
#who .who-img{
    background: url('../img/people.jpg') no-repeat center center/cover;
}

/* Section: Clients */
#clients .items{
    display: flex;
}
#clients .items img{
    display: block;
    width: 70%;
    margin: auto;
}
/* Section: Contact */
#contact{
    display: flex;
}
#contact .contact-form, #contact .map{
    flex: 1;
}
#contact .contact-form .form-group{
    margin: 0.5rem;
}
#contact .contact-form .form-group label{
    display: block;
}
#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea{
    width: 100%;
    padding: 0.5rem;
}



















